%h1 All Articles

%ul{ id: "articles" }
  - @articles.each do |article|
    %li
      = link_to article.title, article_path(article), class: "article_title"

%ul{ id: "create_new"}
  = link_to "Create New Article", new_article_path, class: "article_title"

